div.footer
    .row
        .col-3
            div.address  
                h3 Địa chỉ  
                span Cơ sở 1 : km10 đường nguyễn trãi, hà đông<br>
                span Cơ sở 2 : Chưa có
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.2925132879845!2d105.78485761102401!3d20.98090848933941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accdd8a1ad71%3A0xa2f9b16036648187!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCB2aeG7hW4gdGjDtG5n!5e0!3m2!1svi!2s!4v1713609496962!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        .col-3
            div.contact 
                h3 Liên hệ
                div.basic-contact
                    ul.basic 
                        li Tư vấn dịch vụ: 2108 2003
                        li Hỗ trợ kĩ thuật: 2003 2108
                        li Email: thinhitptit@gmail.com
                    ul.social 
                        li 
                            a(href="" class="fb") <i class="fa-brands fa-square-facebook"></i> 
                        li 
                            a(href="" class="ig") <i class="fa-brands fa-instagram"></i>
                        li 
                            a(href=" " class="tk") <i class="fa-brands fa-tiktok"></i>
                        li 
                            a(href="" class="ytb") <i class="fa-brands fa-youtube"></i>
        .col-3
            div.about
                h3 Về chúng tôi
                ul
                    li 
                        a(href="") Giới thiệu
                    li 
                        a(href="") Chính sách đổi trả 
                    li 
                        a(href="") Chính sách bảo mật 
                    li
                        a(href="")  Điều khoản dịch vụ 
        .col-3
            div.partner
                h3 Đối tác 
                ul.partner-logo 
                    li 
                        a(href="") 
                            img(src="/image/amazon.png", alt="")
                    li 
                        a(href="")
                            img(src="/image/american-express.png", alt="")
                    li 
                        a(href="")
                            img(src="/image/diners-club.png", alt="")
                    li
                        a(href="")
                            img(src="/image/discover.png", alt="")
                    li
                        a(href="")    
                            img(src="/image/ebay.png", alt="")
                    li
                        a(href="")    
                            img(src="/image/master-card.png", alt="")
                    li
                        a(href="")    
                            img(src="/image/paypal.png", alt="")
                    li
                        a(href="")    
                            img(src="/image/union-pay.png", alt="")
                    li
                        a(href="")    
                            img(src="/image/visa.png", alt="")

