header.header
    .container 
        .row-align-item-center 
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/image/logo.png", alt="")
            .col-9
                .inner-menu.d-flex.justify-content-center 
                    ul
                        li.me-5
                            a(href="/" class="text-decoration-none") Trang chủ 
                        li(class="sub-menu")
                            a(href="/products" class="text-decoration-none") Sản phẩm
                            ul
                                li
                                    a(href="/products/slug-1" class="text-decoration-none") Mục 1
                                    ul
                                        li
                                            a(href="/products/slug-1-1" class="text-decoration-none") Mục 1-1
                                        li
                                            a(href="/products/slug-1-2" class="text-decoration-none") Mục 1-2
                                            ul
                                                li
                                                    a(href="/products/slug-1-2-1" class="text-decoration-none") Mục 1-2-1
                                                li
                                                    a(href="/products/slug-1-2-2" class="text-decoration-none") Mục 1-2-2
                                li 
                                    a(href="/products/slug-2" class="text-decoration-none") Mục 2        
