header.header
    .container 
        .row-align-item-center 
            .col-3  
                .inner-logo
                    a(href="/")
                        img(src="image/logo.png", alt="")
            .col-9  
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ 
                        li
                            a(href="/products") Sản phẩm
