/* header */
    .header{
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        overflow: visible;
        z-index: 998;
    }
    .header .inner-logo a{
        display: block;
    }
    .container .row-align-item-center {
        display: flex;
        align-items: center;
    }
    .header .inner-logo img {
        max-height: 80px;
        max-width: 100%;
    }
    .header .inner-menu > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .header .inner-menu > ul > li {
        margin-left: 20px;
    }
/* end header */



/* product */
    .container.my-3 .box-head .inner-title{
        color: green;
    } 
    .container.my-3 .row .col-4.mb-3{
        display: inline-block;
        width: 200px;
        padding: 0;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
        border: 1px solid #EEEEEE;
    }
    .container.my-3 .row .col-4.mb-3 .product-item{
        aspect-ratio: 4/3;
    }
    .container.my-3 .row .col-4.mb-3 .product-item img{
        object-fit: cover;
        height: 100%;
    }
    .container.my-3 .row .col-4.mb-3 .inner-content {
        margin: 10px 10px;
    }
    .container.my-3 .row .col-4.mb-3 .inner-content .inner-price-new{
        color: green;
        font-weight: 600;
    }
    .container.my-3 .row .col-4.mb-3 .inner-content .inner-price-old{
        text-decoration: line-through;
        color: red;
        font-weight: 600;
        margin: 10px 0;
    }
    .container.my-3 .row .col-4.mb-3 .inner-content .inner-discount{
        background-color: red;
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        padding: 0 10px;
    }
/* end product */




/* footer  */
footer{
    background-color: #353846;
    color: #fff;
    text-align: center;
}
/* end footer  */


/* sub menu  */
.sub-menu{
    position: relative;
    z-index: 999;
}

.sub-menu ul{
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    min-width: 180px;
    display: none;
}

.sub-menu ul li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative
}

.sub-menu:hover > ul{
    display: block;
}

.sub-menu ul li ul{
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul{
    display: block;
}

/* end sub menu  */