/* header */
    .header{
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        overflow: visible;
        z-index: 998;
    }
    .header .inner-logo a{
        display: block;
    }
    .container .row-align-item-center{
        display: flex;
        align-items: center;
    }
    .header .inner-logo img{
        max-height: 80px;
        max-width: 100%;
    }
    .header .inner-menu > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .header .inner-menu > ul > li {
        margin-left: 20px;
    }
/* end header */



/* product item */
    .container.my-3 .box-head .inner-title{
        color: green;
    } 
    .container.my-3 .col-3.mb-3 .frame {
        max-width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
    }
    .container.my-3 .row .col-3.mb-3 .inner-image {
        aspect-ratio: 4/3;
        position: relative
    }
    .container.my-3 .row .col-3.mb-3 .inner-image  img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .container.my-3 .row .col-3.mb-3 .inner-image .inner-featured{
        position: absolute;
        top: 0px;
        right: 0px;
        background: green;
        color: white;
        padding: 3px 6px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 8px;
    }   
    .container.my-3 .row .col-3.mb-3 .inner-content {
        margin: 10px 10px;
    }
    .container.my-3 .row .col-3.mb-3 .inner-content .inner-title {
        display: block;
        height: 60px;
        max-width: 100%;
    }
    .container.my-3 .row .col-3.mb-3 .inner-content .inner-title a {
        font-size: 1.2vw;
        font-weight: 700;
    }
    .container.my-3 .row .col-3.mb-3 .inner-content .inner-price-new{
        color: green;
        font-weight: 600;
        font-size: 1.2vw;
    }
    .container.my-3 .row .col-3.mb-3 .inner-content .inner-price-old{
        text-decoration: line-through;
        color: red;
        font-weight: 600;
        margin: 10px 0;
        font-size: 1vw;
    }
    .container.my-3 .row .col-3.mb-3 .inner-content .inner-discount{
        background-color: red;
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        padding: 0 10px;
        font-size: 1vw;
    }
/* end product item */



/* product detail  */
.product-detail .inner-thumb img {
    width: 100%;
    height: auto;
}

.product-detail .inner-title {
    font-size: 32;
    margin-bottom: 15px;
}
.product-detail .inner-category {
    margin-bottom: 10px;
}
.product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-detail .inner-price-old {
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-decoration: line-through;
    margin-bottom: 10px;
}
.product-detail .inner-percent {
    margin-bottom: 10px
}

.product-detail .inner-percent span{
    color: #fff;
    background: red;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
}

.product-detail .inner-stock {
    margin-bottom: 10px;
}

.product-detail .inner-stock span {
    color: #fff;
    background: green;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
}

/* end product detail  */


/* footer  */
footer{
    background-color: #353846;
    color: #fff;
    text-align: center;
}
/* end footer  */


/* sub menu  */
.sub-menu{
    position: relative;
    z-index: 999;
}

.sub-menu ul{
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    min-width: 180px;
    display: none;
}

.sub-menu ul li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative
}

.sub-menu:hover > ul{
    display: block;
}

.sub-menu ul li ul{
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul{
    display: block;
}

/* end sub menu  */