extends ../../layouts/default
include ../../mixins/box-head
include ../../mixins/product-layout
block main 
    h1 Trang chu

    .section-products-featured.container.my-3 
        .row 
            .col-12 
                +box-head("Sản phẩm nổi bật")
        +product-grid(featuredProducts)
    .section-products-featured.container.my-3 
        .row 
            .col-12 
                +box-head("Sản phẩm mới")
        +product-grid(lastestProducts)

    
