extends ../../layout/default.pug

block main
    h1 Trang danh sach san pham

    table.table.table-hover.table-sm
        thead 
            tr 
                th STT 
                th Hinh anh 
                th Tieu de 
                th Gia 
                th Trang thai 
                th Hanh dong 

        tbody 
            tr 
