extends ../../layouts/default.pug
include ../../mixins/box-head 
include ../../mixins/product-layout
block main
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle) 
        +product-grid(products) 
        